In [ ]:
# Connect Drive
from google.colab import drive
drive.mount('/content/drive')

import sys
sys.path.append('/content/drive/MyDrive/CDA_Final_Project/Notebooks')

from IPython.display import Image
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import random
import copy
import time
from tqdm import tqdm
from collections import defaultdict

import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, Dataset, WeightedRandomSampler

from torchvision import datasets, models, transforms
import torchvision.transforms as T
from torchvision.utils import make_grid, save_image
from torchvision.io import read_image
%matplotlib inline

from RetinaDataset import RetinaDataset
from RetinaModel import RetinaModel
from Experiment import Experiment

EXPERIMENT_NAME = '2.0'

Mounted at /content/drive

In [ ]:
exp = Experiment(model_names = ['resnet', 'alexnet', 'densenet', 'squeezenet', 'vgg'],
                data_dir = '/content/drive/MyDrive/CDA_Final_Project/data/{0}_Set/{1}_final/',
                label_file = '/content/drive/MyDrive/CDA_Final_Project/data/{0}_Set/{1}_labels_final.csv',
                results_dir = '/content/drive/MyDrive/CDA_Final_Project/results/raw_tables/',
                batch_size = 64,
                num_epochs = 10,
                feature_extract = True,
                learning_rates = [0.02],
                experiment_name = EXPERIMENT_NAME,
                DEBUG = False)
exp.run(27)

    label_num condition_name  ... accuracy  confusion_matrix
36          1   Disease_Risk  ...      NaN               NaN
37          2             DR  ...      NaN               NaN
38          3           ARMD  ...      NaN               NaN
39          4             MH  ...      NaN               NaN
40          5             DN  ...      NaN               NaN
41          6            MYA  ...      NaN               NaN
42          7           BRVO  ...      NaN               NaN
43          8           TSLN  ...      NaN               NaN
44          9            ERM  ...      NaN               NaN
45         10             LS  ...      NaN               NaN
46         11             MS  ...      NaN               NaN
47         12            CSR  ...      NaN               NaN
48         13            ODC  ...      NaN               NaN
49         14           CRVO  ...      NaN               NaN

[14 rows x 19 columns]